.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 8fr 5fr;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tower {
    min-height: 100vh;
    border-left: solid 1px #aaa;
    padding: 0 24%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
