.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.remain_label {
    font-size: 104px;
}

.start {
    margin: 16px;
    width: 72px;
    height: 72px;
    fill: #7ccc33;
    border-radius: 50%;
    box-shadow: 0 0 4px gray;
    cursor: pointer;
}

.stop {
    margin: 16px;
    width: 72px;
    height: 72px;
    fill: #cc333f;
    border-radius: 50%;
    box-shadow: 0 0 4px gray;
    cursor: pointer;
}
