.count_label {
    font-size: 32px;
    text-align: center;
    width: 100%;
    padding: 16px 0;
}

.grid {
    width: 100%;
    margin: 2px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2px;
}

.brick {
    width: 100%;
    height: 0px;
    padding-top: 100%;
    border-radius: 20%;
    background-color: #8888ff;
}

.line {
    position: relative;
    width: calc(100% + 4px);
    height: 0;
    margin: 5px -2px;
    border-bottom: solid 2px #ddd;
}

.line_num {
    color: #c8c8c8;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(calc(100% + 4px), -50%);
}
